# Visual Studio local files
w15_deliverables/Bakery(serialization)/.vs/**
Gardener/Gardener/.vs/**
Gardener/obj/Debug/net8.0-windows/**
/Gardener/Gardener/obj/Debug/net8.0-windows/**
Gardener/Gardener/bin/Debug/**
# Rider local files
.idea/


