################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

w15_deliverables/Bakery(serialization)/.vs/
